@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    margin: 0;
}

html {
    font-family: "TT Lakes";
    font-size: 14px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 288px
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
    padding: 0;
}

.link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #1B1C21;
    font-weight: 500;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feedback-buttons {
    display: none;
    align-items: center;
    margin: 0;
}

.feedback-buttons__item {
    margin-left: 9.7%;
}

.side-menu {
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
    height: 100vh;
    padding: 19px 25px 0 25px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
    overflow-y: scroll;
    scrollbar-width: 0;
}

.side-menu::-webkit-scrollbar {
    width: 0;
}

.side-menu__wrapper {
    max-width: 270px;
    margin: 0 auto;
    height: 100%;
}

.side-menu__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.side-menu__row {
    display: flex;
    align-items: center;
}

.side-menu__logo {
    margin-left: 6.2%;
}

.side-menu__search-button {
    margin-left: auto;
}


.side-menu__navigation {
    margin-top: 19%;
    margin-bottom: 10%;
}

.side-menu__navigation-list {
    padding: 0;
}

.side-menu__navigation-item {
    position: relative;
    margin-top: 11.9%;
}

.side-menu__navigation-item:first-child {
    margin-top: 0;
}

.side-menu__navigation-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #1B1C21;
    transition: opacity 0.6s ease;
    position: relative;
}

.side-menu__information {

    margin-top: auto;
}

.side-menu__feedback-buttons {
    display: flex;
}

.side-menu__feedback-buttons-item {
    margin-left: 16px;
    vertical-align: bottom;
}

.side-menu__navigation-item::before {
    width: 4px;
    height: 32px;
    content: "";
    display: block;
    position: absolute;
    background-color: #41F6D7;
    bottom: -25%;
    left: -9.2%;
    opacity: 0;
    transition: opacity 0.6s ease;
    border-radius: 0px 10px 10px 0px;
}

.side-menu__feedback-buttons-item:first-child {
    margin-left: 0;
}

.side-menu__email {
    display: inline-block;
    margin-top: 3.71%;
}

.side-menu__phone {
    display: inline-block;
    margin-top: 4.45%;
    font-size: 1.9rem;
    font-weight: 700;
}

.side-menu__lang-switcher {
    margin-top: 11.9%;
    margin-bottom: 11.9%;
}

.side-menu__lang-item {
    text-transform: uppercase;
    margin-left: 7px;
}

.side-menu__lang-item:first-child {
    margin-left: 0;
}

.side-menu__lang-item_active {
    color: #7E7E82;
}

@media (min-width: 1120px) {

    .side-menu__navigation-link:hover {
        opacity: 0.7;
    }

    .side-menu__navigation-item:hover::before {
        opacity: 1;
    }
}