@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakesCompressed-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakesCompressed-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakesCompressed-Bold.woff");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    margin: 0;
}

html {
    font-family: "TT Lakes";
    font-size: 14px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 288px
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
    padding: 0;
}

.header {
    background-color: #FFFFFF;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 18.59px 0
}

.header__logo {
    margin: 0 6.9%;
    display: flex;
    align-items: center;
    position: relative;
}

.feedback-buttons {
    display: none;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feedback-buttons__item {
    margin-left: 9.7%;
}

.request-buttons {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.request-buttons::before {
    content: "";
    min-width: 2px;
    min-height: 32px;
    display: block;
    background-color: #EAEAEA;
    margin-right: 24%;
}

.request-buttons__item {
    margin-left: 9.7%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.request-buttons__item:first-child {
    margin-left: 0;
}

.main {
    padding: 24px 0;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.title::before {
    content: '';
    display: block;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    position: absolute;
    left: -16px;
}

.slide-menu {
    padding: 24px 0;
    display: flex;
    font-size: 1.2rem;
    overflow-x: scroll;
    scrollbar-width: 0;
    align-items: center;
    list-style: none;
}

.slide-menu::-webkit-scrollbar {
    width: 0;
}

.slide-menu__item {
    display: block;
    white-space: nowrap;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 6px 17px;
    border-radius: 6px;
    color: #7E7E82;
    font-size: 1.15rem;
    text-decoration: none;
}

.slide-menu__item_active {
    border: 2px solid #B8FFEC;
}

.slide-menu__item-wrapper {
    margin-right: 25px;
}

.slide-menu__item-wrapper:last-child {
    margin-right: 0;
}

.intro {
    padding-bottom: 16px;
}

.intro__inner {
    display: flex;
}

.intro__paragraph {
    white-space: pre-line;
    overflow: hidden;
    max-height: 95px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

.read-more-button {
    color: #1B1C21;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    background: url("../img/expand.svg") no-repeat -8%;
    border: none;
    line-height: 24px;
    padding-left: 24px;
    cursor: pointer;
}

.intro__button {
    margin-top: 10px;
}

.intro__image img {
    width: 100%;
}

.intro__image {
    position: absolute;
    left: 0;
    width: 100vw;
    padding: 22px 0 35px;
    overflow: hidden;
}

.main__row {
    display: flex;
}

.main__request-buttons {
    display: none;
}

@media (max-width: 319px) {
    .container {
        max-width: 230px;
    }

    .header__inner {
        justify-content: space-between;
        padding: 13px 0
    }

    .header__logo {
        margin: 0 3%;
    }

    .header__request-buttons {
        display: flex;
        align-items: center;
    }

    .request-buttons::before {
        content: "";
        display: none;
    }

    .request-buttons__item {
        margin-left: 3%;
    }

    .button {
        min-width: 35px;
        min-height: 35px;
    }
}

@media (max-width: 320px) {

    .intro__paragraph {
        max-height: 95px;
        overflow: hidden;
    }

    .intro__inner {
        flex-direction: column;
        position: relative;
    }


}

@media (min-width: 321px) and (max-width: 375.99px) {
    .container {
        max-width: 300px;
    }

    .header__logo {
        margin-right: 10.2%;
    }
}

@media (min-width: 376px) and (max-width: 425.99px) {
    .container {
        max-width: 340px;
    }

    .header__logo {
        margin: 0 13.5%;
    }

    .intro__paragraph {
        max-height: 80px;
    }
}

@media (min-width:426px) and (max-width: 600px) {
    .container {
        max-width: 395px;
    }

    .header__logo {
        margin: 0 19%;
    }

    .intro__paragraph {
        max-height: 78px;
    }
}

@media (min-width:601px) and (max-width: 700px) {
    .container {
        max-width: 560px;
    }

    .header__feedback-buttons {
        display: flex;
        align-items: center;
    }

    .header__logo {
        margin: 0 10%;
    }

    .header__feedback-buttons {
        margin-right: 6.4%;
    }

    .header__request-buttons {
        margin-left: 8%;
    }

    .intro {
        display: flex;
        flex-direction: row;
    }

    .intro__paragraph {
        max-height: 116px;
        padding-bottom: 10px;
    }

    .intro__image {
        position: static;
        padding: 0;
        width: 480px;
    }

    .intro__image img {
        border-radius: 3%;
    }
}

@media (min-width:701px) and (max-width: 767px) {
    .container {
        max-width: 665px;
    }

    .header__feedback-buttons {
        display: flex;
        align-items: center;
    }

    .header__logo {
        margin-left: 9%;
    }

    .header__feedback-buttons {
        margin: 0 6.4% 0 16.5%;
    }

    .header__request-buttons {
        margin-left: 4%;
    }

    .title::before {
        left: -9.9%;
    }

    .intro {
        display: flex;
        flex-direction: row;
    }

    .intro__paragraph {
        max-height: 116px;
    }

    .intro__image {
        position: static;
        padding: 0;
        width: 480px;
        margin-left: 48px;
    }

    .header__logo::before {
        display: block;
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position: absolute;
        left: -35%;

    }

    .intro__image img {
        border-radius: 3%;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .container {
        max-width: 719px;
    }

    .header__logo::before {
        display: block;
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position: absolute;
        left: -28%;
    }


    .header__feedback-buttons {
        display: flex;
        margin: 0 6.5% 0 27.5%;
    }

    .header__request-buttons {
        margin-left: 1%;
    }

    .title::before {
        left: -13.5%;
    }

    .intro {
        display: flex;
        flex-direction: row;
    }

    .intro__image img {
        border-radius: 3%;
    }

    .intro__image {
        position: static;
        padding: 0;
        height: 212px;
        width: 360px;
        margin-left: 48px;
    }

    .intro__paragraph {
        max-width: 312px;
        max-height: 137px;
    }

    .intro__button {
        margin-top: 30px;
    }
}

@media (min-width: 1120px) {
    .container {
        max-width: 1058px;
    }

    .header {
        display: none;
    }

    .slide-menu {
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .intro__paragraph {
        max-height: 100%;
        width: 490px;
    }

    .main__request-buttons {
        display: flex;
    }

    .main__request-buttons {
        white-space: nowrap;
        align-items: center;
        margin-left: 57%;
    }

    .request-buttons__item {
        margin-left: 13%;
    }

    .request-buttons .button {
        margin-left: 3%;
    }

    .request-buttons::before {
        display: none;
    }

    .intro {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .intro__image {
        position: static;
        padding: 0;
        width: 531px;
        height: 383px;
        margin-left: 3.5%;
    }

    .intro__image img {
        border-radius: 2%;
    }

    .intro__button {
        margin-top: 13.78px;
    }

    .title::before {
        left: -12.5%;
    }

}