{
    "semi": true,
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "proseWrap": "never",
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 140,
    "bracketSameLine": true,
    "quoteProps": "preserve",
    "arrowParens": "always",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "lf"
}
