.header {
    background-color: #ffffff;

    &__inner {
        display: flex;
        align-items: center;
        padding: 18.59px 0;
    }

    &__logo {
        margin: 0 6.9%;
        display: flex;
        align-items: center;
        position: relative;
    }
}
