.services {
    padding-top: 42px;
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__request-buttons {
        display: none;
    }

    &__title {
        width: 100vw;
        &::before {
            content: '';
            display: block;
            background-color: #41f6d7;
            width: 4px;
            height: 35px;
            position: absolute;
            border-radius: 9px;
        }
    }
}
