.side-menu {
    width: 308px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
    height: 100vh;
    padding: 19px 25px 0 25px;
    overflow-y: scroll;
    scrollbar-width: 0;
    transition: all 0.2s ease;
    transform: translateX(-150%);

    &::-webkit-scrollbar {
        width: 0;
    }

    &__wrapper {
        max-width: 270px;
        margin: 0 auto;
        height: 100%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-left: 6.2%;
    }

    &__search-button {
        margin-left: auto;
    }

    &__navigation {
        margin-top: 19%;
        margin-bottom: 10%;
    }

    &__navigation-list {
        padding: 0;
    }

    &__navigation-item {
        position: relative;
        margin-top: 11.9%;
    }

    &__navigation-item:first-child {
        margin-top: 0;
    }

    &__navigation-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #1b1c21;
        transition: opacity 0.6s ease;
        position: relative;
    }

    &__information {
        margin-top: auto;
    }

    &__navigation-link_active {
        color: #7e7e82;
    }

    &__navigation-item::before {
        width: 4px;
        height: 32px;
        content: '';
        display: block;
        position: absolute;
        background-color: #41f6d7;
        bottom: -25%;
        left: -9.2%;
        opacity: 0;
        transition: opacity 0.6s ease;
        border-radius: 0px 10px 10px 0px;
    }

    &__navigation-item_active::before {
        width: 4px;
        height: 32px;
        content: '';
        display: block;
        position: absolute;
        background-color: #41f6d7;
        bottom: -25%;
        left: -9.2%;
        opacity: 1;
        transition: opacity 0.6s ease;
        border-radius: 0px 10px 10px 0px;
    }

    &__email {
        display: inline-block;
        margin-top: 3.71%;
    }

    &__phone {
        display: inline-block;
        margin-top: 4.45%;
        font-size: 1.9rem;
        font-weight: $font-bold;
    }

    &__lang-switcher {
        margin-top: 11.9%;
        margin-bottom: 11.9%;
    }
}
